{% extends 'base_app.html' %}

{% block page_title %}
    Movimentações
{% endblock %}

{% block nav %}
    <a href="{% url 'dashboard:app_dashboard' %}">Dashboard</a>
    <a href="{% url 'colaboradores:app_users' %}">Colaboradores</a>
    <a href="{% url 'equipamentos:app_items' %}">Equipamentos</a>
    <a href="{% url 'emprestimos:app_requests' %}">Empréstimos</a>
    <a href="{% url 'historico:app_history' %}" class="active">Movimentações</a>
    <a href="{% url 'relatorios:app_reports' %}">Relatórios</a>
    <a href="{% url 'app_configs' %}">Configurações</a>
    {% endblock %}

{% block content %}
    <p>Movimentações</p>
{% endblock %}